// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&display=swap');

@font-face {
    font-family: 'Mistral';
    src: url('../fonts/mistral/Mistral.eot');
    src: url('../fonts/mistral/Mistral.eot?#iefix') format('embedded-opentype'),
        url('../fonts/mistral/Mistral.woff2') format('woff2'),
        url('../fonts/mistral/Mistral.woff') format('woff'),
        url('../fonts/mistral/Mistral.ttf') format('truetype'),
        url('../fonts/mistral/Mistral.svg#Mistral') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Global
.drive-font {
    font-family: 'Mistral';
    color: $drive-pink;
}

.btn-drive {
    @include button-variant($drive-pink, $drive-pink);
}